node_modules
__init__.py

# Environnements virtuels
venv/
env/

# Dossiers de configuration IDE
.idea/
.vscode/

# Fichiers de logs
*.log

# Fichiers de base de données SQLite
*.sqlite3

# Dossiers de cache de Python
__pycache__/
*.py[cod]

# Fichiers générés
*.pyc
*.pyo
.mypy_cache/

# Clés et configurations sensibles
instance/
.env

# Fichiers et dossiers spécifiques à votre projet